@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">
        <h2>Artikel Formular</h2>
        <form>
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" name="id">
            </div>
            <div class="form-group">
                <label for="artikelKategorie">Artikelkategorie:</label>
                <input type="text" class="form-control" id="artikelKategorie" name="artikelKategorie">
            </div>
            <div class="form-group">
                <label for="artikelLocation">Artikelstandort:</label>
                <input type="text" class="form-control" id="artikelLocation" name="artikelLocation">
            </div>
            <div class="form-group">
                <label for="description">Beschreibung:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="preis">Preis:</label>
                <input type="number" class="form-control" id="preis" name="preis">
            </div>
            <div class="form-group">
                <label for="postDate">Veröffentlichungsdatum:</label>
                <input type="date" class="form-control" id="postDate" name="postDate">
            </div>
            <div class="form-group">
                <label for="artikelImage">Artikelbild:</label>
                <input type="file" class="form-control-file" id="artikelImage" name="artikelImage">
            </div>
            <div class="form-group">
                <label for="ownerUser">Besitzer:</label>
                <input type="text" class="form-control" id="ownerUser" name="ownerUser">
            </div>
            <button type="submit" class="btn btn-primary">Artikel speichern</button>
        </form>
    </div>

